.pin{
	margin-top: 20px;
	background-color: #AEEBF0;
    height:100px;
    width: 300px;
    text-align: center;
    transform:skewX(20deg);
    position: relative;
	animation-name: example ;
	animation-duration: 20s;
	animation-iteration-count: 10;
	animation-delay:0s;
}



@keyframes example {
   0%{ background-color: red; left:0px; top:0px;}
   10%{background-color: brown; left:50px; top:100px;}
   20%{background-color:green; left:100px; top:150px; }
   30%{background-color:purple; left:150px; top:200px;}
   50%{background-color:yellow; left:200px; top:250px;}
   75%{background-color:blue; left:250px; top:300px;}
   100%{background-color:pink; left:300px; top:0px; }
}