/*all website CSS*/
body{
	margin:0px;
	padding:0px;
	height: 700px;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
	background-image: linear-gradient(white 30%,#22E8F9);
	overflow:hidden;
}	

ul {                                            /*This one is for the navigation bar.*/
	display: inline-block;                       
	float:right;  
	margin-top:-15px;                                
	padding-top:10px;

}

ul a{
	background-color:white;
	text-decoration: none;
	color:black;
	padding-left: 20px;
	padding-right:25px;	
	transition:1s ease;
}

ul a:hover{
	color: blue;
}

ul .active a{
	background-color: white ;
	color: black;
}
.fin{
	margin-left:40px;
}
/* all pages CSS*/


/*the start of home page.*/

.lin{
	margin-left:94px;
	font-size:30px;
}
.aaa{                   /*for the text student in home page*/
	padding-left:10px;
	font-size:20px;
	padding-bottom:30px;
}

.phuto{
	height:150px;
	width: 150px;
	margin-top: 100px;
	margin-left:111px;
	clip-path:circle();
}

/*The End for home page*/










/*The start of Portfolio page*/




/*The End For Portfolio Page.*/




/*The start of Contact page*/
.insane{                                     /**/
	float:left;
	width:300px;
	margin-top:70px;
	margin-left: 30px; 
}
.photo1{                                       /* This one is for photo inside the contact.html page.*/
	height:400px;
	width:360px;
	margin-top: 120px;
	margin-left: 500px;
	padding:30px;
	opacity:65%;

}
/*The END of contact page*/






/*The start of CV page*/

.pgg{                            /*this one for the main div*/
	display:grid;
	grid-template-columns:auto auto ;
	margin-top:60px;
	margin-left:70px;
	margin-right:30px;
	grid-gap:10px;
} 
.pgh{                              /*This one s for Aboutme */
	border:2px solid black;
	text-align:center;

}


.about{                       /*this one is for photo inside CV*/
    width:245px;
    height:230px;
	border:2px solid black;

}

.phh{                        /*This one is for the contact details*/
	border:2px solid black;
}
.pjh{                        /*This one if for the education */
	border:2px solid black;
	display:flex;

}
.pjh h2{
	margin-right:25px;
}

.pkh{                /*This one is for Skills*/
	height:111px;
	margin-top:10px;
	margin-left:70px;
	margin-right:30px;
	border:2px solid black;
	display:flex;
}
 .range{
 	margin-top:50px;
 	margin-left:50px;
 	float:left;
 }


/*The end of CV page**/










 /* the CSS for  bio starts.*/
 table{             /* for table inside the bio*/
      margin-top:150px;
      margin-left:390px;
      border:3px solid black;
      box-shadow:15px 15px;
      padding-top:20px;
      padding-bottom:20px;
      padding-left:10px;
      padding-right:80px;
 }
 tr,td{                                   
        border:2px solid black;

 }
 .fff{
 	height:150px;
 	width:150px;
 	float:left;
 	margin-top:-490px;
 	margin-left:740px;
 	clip-path:circle();

 }

 /*CSS for bio ends*/









/*The start of site report*/







/*The End of site report*/











/*This one if for the hamburger menu*/
.burger{                               
	display:flex;
	flex-direction:column;
	margin-top:5px;
	padding-left: 30px;
	padding-top: 30px;
}
.burger1, .burger2, .burger3{
	margin-top:5px;
	height:2px;
	width:20px;
   background-color:black;
}
/*This one if for the hamburger menu*/










/*responsive*/
@media screen and (max-width:750px;){
	body{
		background:red;
	}
}