body{
	margin:0px;
	padding:0px;
	height: 700px;
	background-position: center;
	background-image: linear-gradient(white 30%,#22E8F9)    
}	

ul  {
	display: inline-block;
	float:right;
	padding-top:20px;

}

ul a{
	background-color:white;
	text-decoration: none;
	color:black;
	padding-left: 20px;
	padding-right:25px;	
	border: 2px solid white;
	transition: 1s ease;
}

ul a:hover{
	color: blue;
}

ul .active a{
	background-color: #fff ;
	color: #000;
}

.title{
	background-image: linear-gradient(red,black) 
	background-color:white;
	text-align: center;
	color: black;
	margin-top: 30px
	font-size:50px;
	height:50px; 
	width: 40%;
    float: left;

}
.photo{

	height:400px;
	width:500px;
	margin-top:150px;
	margin-left:720px;
	padding:20px;
	opacity:70%;
}


.fin{
	margin-left:40px;
}
/*The End for home page*/
/*The start of Portfolio page*/

/*The End For Portfolio Page.*/
/*The start of Contact page*/
.insane{
	float:left;
	width:300px;
	margin-top:120px;
	margin-left: 30px; 
}
.photo1{
	height:400px;
	width:360px;
	margin-top: 120px;
	margin-left: 500px;
	padding:30px;
	opacity:70%;

}
/*The start of CV page*/
/*The end of CV page**/
/*The start of site report*/
/*The End of site report*/







